.container {
    
  position: fixed;
    height: 100vh; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
}

.navbar {
    position: sticky;
    bottom: 0;
    width: 100vw;
}
.contant {
    position: relative;
    width: 100vw;
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.bg {
    opacity: 1;
    
}
#Layer_2 {
    opacity: 1;
    scale: 1;
    transform: translateY(37.5px)
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: transparent;
    height: 75px;
}
.navbar-nav {
    display: none;
}
.navbar-nav {
    background-color: #ffc280;
    color: #af3e3e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    height: 100vh;
    width: 100vmin;
    z-index:-1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(100%);
}
.navbar-list {
    
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.navgator {
    display: flex;
    flex-direction: row;
    
}
.lang-container{
  height: 75px;
}
.navbar-list {
    display: flex;
    position: relative;
    transform: translateX(0%);
    justify-content: space-evenly;
    min-width: 400px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #af3e3e;
    font-size: 30px;
    font-weight: bold; 
    display: inline-block;
    font-family: 'Cairo', sans-serif;
    padding: 3px;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #af3e3e;
    transition: width .2s ease-in-out;
}
.nav-link:hover::after {
    width: 100%;
}



.welcom-logo {
    width: 100vw;
    height: 100vh;
    position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #logo-main-svg {
      width: 200px;
      height: 200px; 
      position: fixed;
  }
  

  .menu-container {
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  
  }
  .menu-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-item-img img {
    width: 50%;
    
    border-radius: 2000px;

   
  }
  .menu-item {
    position: relative;
  }
  .menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: #2e5894;
    border-radius: 0 0 100% 100% ;
  }

  .menu-top h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .menu-item-title {
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .menu-item-title h2 {
    font-size: 40px;
    font-weight: bold;
    color: #af3e3e;
  }
  .menu-center-price {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .menu-center-price h2 {
        font-size: 30px;
        font-weight: bold;
        color: #ffc280;
    }
  .menu-center-des {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-bottom {
    height: 40px;
    width: 40px;
  }
  .m1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .m1 .slide__outer {
    transform: translateX(0%);
    z-index: 2;
  }
  .m1 .slide__inner {
    transform: translateX(0%);
    z-index: 2;
  }
  .m2 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .m3 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m4 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m5 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .m6 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m7 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m8 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m9 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m10 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .m11 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m12 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m13 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m14 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .m15 {
    width: 100vw;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


 .m{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
 }


